body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    max-height: 200px;
}

header>.imagen-logo{
    width: 20%;
}
header>article>img{
    width: 100%;
}
header>.nombre-cabecera{
    width: 30%;
}
header>.buscador{
    width: 40%;
}

header>h1{
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #34495e;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    margin: auto;
    background-color: white;
}

section {
    margin-bottom: 2rem;
}

main>section:nth-child(even){
    background-color: #4e5964;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
}

.btn:hover{
    background-color: #356494;
}

/*Carrusel de imágenes*/

.carrusel-libros {
    position: relative;
    width: 80%;        /* ajusta al tamaño que quieras */
    overflow: hidden;
    margin: auto;
}

.carrusel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide-libro {
    min-width: 100%;
}

.slide-libro img {
    width: 100%;
    display: block;
    max-height: 60%;
}

/* Botones */
.carrusel-libros button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 10px;
}

.prev { left: 5px; z-index: 1000;}
.next { right: 5px; z-index: 1000;}